/* src/components/AudioPlayer.css */
.audio-player-container {
  display: flex;
  align-items: center;
}

.sound-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px; /* Adjust margin as needed */
}

.sound-icon .bar {
  width: 2px; /* Thinner bars */
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  margin: 0 3px; /* Add space between bars */
}

.sound-icon .bar:nth-child(1) {
  height: 10px; 
  animation: grow 1s ease-in-out calc(1s * -0.45) infinite;
}

.sound-icon .bar:nth-child(2) {
  height: 15px; 
  animation: grow 1s ease-in-out calc(1s * -0.3) infinite;
}

.sound-icon .bar:nth-child(3) {
  height: 20px; 
  animation: grow 1s ease-in-out calc(1s * -0.15) infinite;
}

.sound-icon .bar:nth-child(4) {
  height: 15px; 
  animation: grow 1s ease-in-out infinite;
}

.sound-icon.paused .bar {
  animation-play-state: paused;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
}
