/* src/components/AudioPlayer.css */
.audio-player-button {
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  transition: background 0.3s, box-shadow 0.3s;
}

.audio-player-button:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
