#loader-wrapper {
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    background-color: #000000;
    opacity: 1;
    transition: opacity 1s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#monat-text {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 10px;
}

#status-text {
    font-family: 'Courier', monospace;
    text-align: center;
    color: #838383;
}
