header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1435px;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 1;
  z-index: 99;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-family: 'computer says no', monospace;
  transition: all 0.3s ease;
}

.navigation a {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
  font-family: 'computer says no', monospace;
}

.navigation a:last-child {
  margin-right: 0;
}

.navigation a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: -2px;
  right: 0;
  background: white;
  transition: width 0.3s ease, right 0.3s ease;
}

.navigation a:hover::after {
  width: 100%;
  right: 0;
}

.sound-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.menu-toggle {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .sound-icon {
    display: none;
  }
}