html {
  font-size: 11px; /* Set base font size */
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
}

.navigation a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  padding: 8px 16px;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.navigation a .text-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.navigation a .default,
.navigation a .hover {
  display: block;
  transition: transform 0.3s ease;
}

.navigation a .hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.navigation a:hover .default {
  transform: translateY(-100%);
}

.navigation a:hover .hover {
  transform: translateY(-100%);
}

.navigation a.active:hover .text-wrapper {
  color: #000000;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
}

/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  #navbar {
  background-color: #121212;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3em;
  padding: 8px 16px;
  transition: all 0.3s ease;
  font-family: 'UbuntuMono', monospace;
  position: relative;

}

.navigation a .text-wrapper {
  display: inline-block;
}

.navigation a .char {
  display: inline-block;
  transition: text-shadow 0.1s ease;
}

.navigation a:hover .char {
  color: #01c02a
  /* text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
  0 0 10px rgba(255, 255, 255, 0.3),
  0 0 15px rgba(255, 255, 255, 0.2); 
}
*/

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
}

