body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling when menu is open */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-navigation a {
  color: white;
  font-size: 2em;
  margin: 20px 0;
  text-decoration: none;
  transition: color 0.3s;
}

.overlay-navigation a:hover {
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 769px) {
  body.menu-open {
    overflow: auto; /* Allow scrolling for larger screens */
  }

  .overlay {
    display: none; /* Hide overlay for larger screens */
  }
}
